@import "utilities/variables";

.main-content{
  width: 100%;
  height: 2800px;
  overflow:hidden;

  header.welcome{
  	width: 100%;
  	height: 800px;
  	background-color: $custom-cyan;
  	// overflow: hidden;
  	
  }

}