@charset "UTF-8";
@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto/Roboto-Light.ttf);
  font-weight: normal; }

@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto/Roboto-LightItalic.ttf);
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto/Roboto-Bold.ttf);
  font-weight: bold; }

@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto/Roboto-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto/Roboto-Thin.ttf);
  font-weight: 100; }

@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto/Roboto-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic; }

/* Variáveis */
* {
  box-sizing: border-box; }

.nowrap {
  white-space: nowrap; }

.normal {
  font-weight: normal; }

.bold {
  font-weight: bold; }

.thin {
  font-weight: 100; }

.italic {
  font-style: italic; }

.larger {
  font-size: 2em; }

.bg-cyan {
  background-color: #08D9D6; }

.bg-pink {
  background-color: #FF2E63; }

.bg-black {
  background-color: #252A34; }

.bg-gray {
  background-color: #EAEAEA; }

.font-cyan {
  color: #08D9D6; }

.font-pink {
  color: #FF2E63; }

.font-black {
  color: #252A34; }

.font-gray {
  color: #EAEAEA; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clear {
  clear: both; }

.center {
  top: 50% !important;
  left: 50% !important;
  position: absolute !important;
  -webkit-transform: translate(-50%, -50%) !important;
  -moz-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  -o-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  not supported by any browser */ }

.wrapper {
  width: 100%;
  padding: 0 5%;
  position: relative;
  margin: 0 auto;
  max-width: 1633px;
  min-width: 310px; }

body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  font-weight: normal;
  font-size: 1.3em;
  line-height: 1.5em;
  color: #252A34; }
  body a {
    color: #1e6bb8;
    text-decoration: none; }
    body a:hover {
      text-decoration: none; }

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 680px) {
  /* Styles */ }

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */ }

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */ }
