
/* Variáveis */
$font-color:   #252A34;
$custom-cyan:  #08D9D6;
$custom-black: #252A34;
$custom-black2: #393e46;
$custom-pink:  #FF2E63;
$custom-gray:  #EAEAEA;
$background-ligh: #EEEEEE;

$mobiles-size: 680px;
$tablets-size: 680px;
$desktops-size: 1224px;
$largescreens-size: 1824px;




